.navbar {
    background-color: #232A35;
    color: #fff;
    padding: 20px 50px;
}

.app-name {
    padding-bottom: 5px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.app-sub-name {
    font-size: 14px;
    opacity: 0.7;
}

.search {
    display: block;
    width: 50%;
    margin: auto;
    padding: 10px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.1);
    margin-top: 20px;
    border: unset;
    border: solid 1px rgba(255, 255, 255, 0.2);
    color: #fff;
}

.search::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.all-note-container {
    margin: 50px auto;
    width: 67.5%;
}

.note-container {
    margin: 10px;
    display: inline-block;
    width: 320px;
    background-color: #232A35;
    color: #fff;
    padding: 25px 20px;
    border-radius: 7px;
}

.note-wrapper {
    margin: auto;
}

.note-highlight {
    padding: 6px 2.5px;
    /* background-color: yellow; */
    margin-right: 10px;
}

.note-header {
    margin-top: 20px;
    font-size: 24px;
}

.note-sub-header {
    margin-top: 5px;
    font-size: 14px;
}

.note-body {
    margin-top: 15px;
    font-size: 14px;
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.btn-container {
    margin: 30px 0;
}

.btn-primary {
    color: #232A35;
    background-color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 5px;
    transition: all .3s ease-in-out;
    border: solid 1px transparent;
}

.btn-primary:hover {
    border: solid 1px #fff;
    background-color: transparent;
    color: #fff;
}


.note-timestamp {
    font-size: 14px;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    color: rgba(255, 255, 255, 0.5);
}

.add-note-btn {
    background-color: #fff;
    color: #232A35;
    font-size: 24px;
    display: inline-flex;
    padding: 12px 21px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    border-radius: 70px;
}

.add-note-btn a {
    text-decoration: none;
    color: #232A35;
    font-size: 32px;
}

.note-label {
    display: inline-block;
    font-family: Montserrat, 'sans-serif';
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 6px;
    font-weight: 500;
    padding: 10px 0;
    margin: 10px 0 2px 0;
}

.note-input {
    background-color: #232A35;
    padding: 10px;
    width: 100%;
    border: none;
    resize: none;
    border-radius: 5px;
    color: #fff;
    font-family: montserrat;
    letter-spacing: 2px;
}

.note-input::placeholder {
    font-family: "montserrat";
    letter-spacing: 3px;
    text-transform: capitalize;
    opacity: 0.8;
}

.d-flex {
    display: flex;
}

.content-between {
    justify-content: space-between;
}

.category-container {
    width: 80%;
    margin-right: 20px;
}

.note-input-color {
    display: inline-block;
    padding: 5px 3px 4px 3px;
    margin-top: -10px;
    background-color: transparent;
    width: 100%;
    height: 50px;
}
.category-color-container{
    width: 18.5%;
}

.submit-btn{
    display: block;
    margin: auto;
    padding: 10px 50px;
    margin-top: 20px;
}

.main-link{
    color: #fff;
    text-decoration: none ;
}
.note-title{
    font-size: 38px;
    color: #fff;
}
.note-sub-title{
    font-size: 18px;
    color: #fff;
    padding-top: 10px;
}
.note-main-body{
    font-size: 14px;
    color: #fff;
    padding-top: 25px;
    white-space: pre-wrap;
    text-align: justify;

}
.pt-20{
    padding-top: 20px;
}

.mt-30{
    margin-top: 30px;
}
.o-5{
    opacity: .5;
}
.text-center{
    text-align: center;
}
.breadcrums{
    color: #fff;
}
.breadcrums a{
    text-decoration: none;
    color: #fff;
    border-bottom: solid 1px #fff;
}

.note-control{
    justify-content: space-between;
}

.px-5{
    padding: 0 5px;
}
.link-edit{
    text-decoration: none;
}